form {
    width: 250px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 0em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5;

}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 70px;
    text-align: left;
  }

  