<html>

<head>
    <link rel="stylesheet" href="vue_app.css">
</head>

<body>
    <div id="app">
        <login-form v-if="!isLoggedIn" :isLoggedIn="isLoggedIn" @login="login"></login-form>
        <profile v-if="isLoggedIn"></profile>
        <listitems v-if="isLoggedIn"></listitems>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <!-- Realm SDK -->
    <script src="https://unpkg.com/realm-web@1.0.0/dist/bundle.iife.js"></script>
    <script src="vue_main.js"></script>

</body>

</html>